{{#alerts}}
**{{status}}**
{{#labels}}
{{alertname}} **{{severity}}**
{{role}} @ {{instance}} on {{env}}
{{/labels}}
{{#annotations}}
{{summary}}
{{/annotations}}
[link]({{{generatorURL}}})
__
{{/alerts}}
